<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DD Norms Regular.otf</string>
		<string>TTNorms-Medium.otf</string>
		<string>Omnes-Bold.otf</string>
		<string>Inter-Regular.ttf</string>
		<string>SQMarket-Regular.otf</string>
		<string>Omnes-Semibold.otf</string>
		<string>TTNorms-Bold.otf</string>
		<string>Inter-Semi Bold.ttf</string>
		<string>SQMarket-Medium.otf</string>
		<string>SQMarket-Bold.otf</string>
	</array>
</dict>
</plist>
